* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}
:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #00abf0;
}
html {
    font-size: 60%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0;
    padding: 2rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon{
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
span{
    background: linear-gradient(
        270deg,
        #00abf0 10%,
        blue 100%
    );
    background-clip: text;
    color: transparent;
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.gradient-btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        #df8908 10%,
        #ff1d15 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}
.gradient-btn:hover{
    transform: scale(1.05);
}

section{
    min-height: 100vh;
    padding: 10rem 15%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}.home-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}
.home-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 40px;
    box-shadow: 0 0 10px #00abf0;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #00abf0;
    box-shadow: none;
}
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3 ease-in-out;
}
.social-icon a:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px;
}
.btn-group{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}
.btn-group a:nth-of-type(1){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn-group a:nth-of-type(2){
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.Autobiography{
    background-color: var(--bg-color);
    color: black;
}
.Autobiography h2{
    color: var(--text-color);
}
.Autobiography-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, mimax
    (300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}
.Autobiography-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 569;
    width: 960;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}
.Autobiography-box:hover{
    background: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
}

::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}

.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;


}

.song{
    background-color: var(--bg-color);
    color: black;
}
.song h2{
    color: white;
}
.song-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 2.5rem;
}
.song-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.song-box:hover{
    background: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.song-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.song-info h4{
    font-size: 4rem;
    margin: 2rem;
    font-weight: 800;
}
.song-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}
.song-info i{
    font-size: 8rem;
}

.audio {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Arial, sans-serif;
    margin: 40px;
}
.icon {
    width: 28px;
    height: 20px;
    fill: white;
}
@keyframes rotation{
    from{
        transform: rotation(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.Gallery{
    background-color: black;
}
.Gallery-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 2rem;
}
.Gallery-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
}
.Gallery-card :hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    transform: scale(1.02);
}
.Gallery-card img{
    max-width: 250px;
    border-radius: 2rem;
    object-fit: cover;
}
.Gallery-card h3{
    font-size: 3rem;
}
.-card p{
    font-size: 1.6rem;
}
.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}
.my-video{
    background-color: black;
}
.video-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}
.video-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
}
.video-card :hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    transform: scale(1.02);
}
.btn img {
    width: 50px;
    transition: 0.2s;
}

.btn img:hover {
    transform: scale(1.1);
}
fonts.googleapis.com
John Christian
const players = document.querySelectorAll(".player");

players.forEach(player => {
    const audio = player.querySelector(".audioPlayer");
    const btn = player.querySelector(".playPauseBtn");
    const iconPlay = player.querySelector(".iconPlay");
    const iconPause = player.querySelector(".iconPause");

    btn.addEventListener("click", () => {
        // Pause all other audios first
        players.forEach(p => {
            const otherAudio = p.querySelector(".audioPlayer");
            const otherPlay = p.querySelector(".iconPlay");
            const otherPause = p.querySelector(".iconPause");
            
            if (otherAudio !== audio) {
                otherAudio.pause();
                otherPause.style.display = "none";
                otherPlay.style.display = "block";
            }
        });

        // Toggle play / pause
        if (audio.paused) {
            audio.play();
            iconPlay.style.display = "none";
            iconPause.style.display = "block";
        } else {
            audio.pause();
            iconPause.style.display = "none";
            iconPlay.style.display = "block";
        }
    });
});

@media(max-width:1285px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: #080808;
        border-bottom: border-bottom-left-radius: 2rem;
        border-left: 2px var(--maina-color);
        border-bottom: 2px solid var(--main-color);
    }

}
